<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Traductor | Codigo Morse
	link(rel="stylesheet", href="/css/lib/bootstrap.min.css")
body
	h1.text-center Traductor Codigo Morse
	section.panel.container-fluid
		section.row
			article.btn-group
				button(type="button" class="btn btn-success" id="connect") Conectar
			article.btn-group
				button(type="button" class="btn btn-danger" id="disconnect") Desconectar

		p
			span Estado
			span#stateConection.label.label-danger Desconectado

		hr

		section.row
			div(class="form-group")
				label.col-sm-1.control-label(for="codeMorse") Morse
				div.col-sm-11
					textarea.form-control(id="codeMorse" name="codeMorse")
			div.form-group
				label.col-sm-1.control-label(for="translation") Texto
				div.col-sm-11
					textarea.form-control(id="translation" name="translation")

		section.row
			button(type="button" class="btn btn-info" id="toMorse") Texto a Morse
			button(type="button" class="btn btn-danger" id="reset" data-action="reset") Borrar
			button(type="button" class="btn btn-danger" id="undo" data-action="undo") Deshacer


	script(src="/js/lib/socket.io-1.4.5.js" type="text/javascript")
	script(src="/js/lib/jquery-2.2.3.js" type="text/javascript")
	script(src="/js/main.js" type="text/javascript")
